@import "../../../util//scss/all.scss";

.Part3 {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 500px;
	min-width: 1000px;
	background-color: rgb(83, 83, 83);
	@include flexBox();
	flex-direction: column;

	//   设置头部样式
	.p-header {
		width: 100%;
		height: 5%;
		background-color: #0d1117;
		border-bottom: #106f8f solid 1px;
		@include flexBox(flex-start);

		a {
			text-decoration: none;
		}

		.back-home {
			margin-left: 25px;
			height: 100%;
			padding: 10px;
			color: #00a4d9;
			font-size: 13px;
			@include flexBox(center);

			.txt {
				padding-left: 10px;
				padding-top: 5px;
			}
		}
	}

	// 设置中间功能区样式
	.toolBar {
		width: 100%;
		height: 14%;
		background-color: #000000;
		border-bottom: #106f8f solid 1px;
		@include flexBox(flex-start);

		//   设置单个功能样式
		.singleTool {
			border: 0;
			height: 60%;
			width: 70px;
			margin-left: 15px;
			color: #00a4d9;
			transition: 0.4s;
			background-color: #000000;
			@include flexBox(center);
			flex-direction: column;

			.txt {
				margin-top: 5px;
				font-size: 14px;
			}
		}

		.singleTool:first-child {
			margin-left: 20px;
		}

		.singleTool:hover {
			color: rgba(203, 201, 196, 0.6);
		}

		.uploadTool {
			cursor: pointer;
			position: absolute;
			right: 4vw;
			background-color: #00a4d9;
			color: white;
			width: 80px;
			height: 35px;
			font-size: 18px;
		}

		.uploadTool:hover {
			background-color: #0aafe6;
		}

		.saveTool {
			cursor: pointer;
			position: absolute;
			right: 11vw;
			background-color: #00a4d9;
			color: white;
			width: 80px;
			height: 35px;
			font-size: 18px;
		}

		.saveTool:hover {
			background-color: #0aafe6;
		}
	}
	.p-detail {
		width: 100%;
		height: 81%;
		background-color: #0d1117;
		@include flexBox();
	}
}
