@import "../../../util/all.scss";

.Part1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(83, 83, 83);
  @include flexBox();
  flex-direction: column;
  //   设置头部样式
  .p-header {
    width: 100%;
    height: 5%;
    background-color: #0d1117;
    border-bottom: #106f8f solid 1px;
    @include flexBox(flex-start);
    a {
      text-decoration: none;
    }
    .back-home {
      margin-left: 25px;
      height: 100%;
      @include flexBox(center);
      padding: 10px;
      color: #00a4d9;
      .txt {
        padding-left: 15px;
        padding-top: 5px;
      }
    }
  }
  // 设置中间展示图片列表的样式
  .p-picList {
    width: 100%;
    height: 18%;
    background-color: #161b22;
    border-bottom: #106f8f solid 1px;
    @include flexBox(center, center);
    // 图片列表
    .showPic {
      width: 98%;
      height: 100%;
      overflow: hidden;
      overflow-x: auto;
      white-space: nowrap;
      box-shadow: -27px 0 18px -10px rgba(0, 0, 0, 0.5) inset;
      .pic {
        display: inline-block;
        width: 13%;
        height: 80%;
        position: relative;
        top: 9%;
        margin-left: 30px;
        background-color: rgb(0, 0, 0);
        border: #00a4d9 solid 1px;
        border-radius: 5px;
      }
    }
    // 设置滚动条样式
    .showPic::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    /* 滚动条里面小方块 */
    .showPic::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: rgba(0, 164, 217, 0.4);
    }
    /* 滚动条里面轨道 */
    .showPic::-webkit-scrollbar-track {
      border-radius: 0;
      background: rgb(15, 15, 15);
    }
  }
  //  下面展示具体功能和大图
  .p-detail {
    width: 100%;
    height: 77%;
    background-color: #0d1117;
    @include flexBox();
    // 设置左边功能区样式
    .toolBar {
      width: 15%;
      height: 100%;
      background-color: rgb(13, 17, 23);
      @include flexBox(flex-start);
      flex-direction: column;
      //   设置单个功能样式
      .singleTool {
        width: 100%;
        height: 7%;
        color: #00a4d9;
        letter-spacing: 3px;
        border-bottom: 1px solid #0b5974;
        box-shadow: 0 10px 18px -6px rgb(10, 10, 10);
        @include flexBox(center);
        .txt {
          margin-left: 10px;
        }
      }
      .singleTool:hover {
        font-size: 17px;
      }
    }
    // 展示大图
    .detailPic {
      width: 85%;
      height: 99.4%;
      background-color: rgb(0, 0, 0);
      border: #087aa0 1px solid;
      border-radius: 3px;
    }
  }
}
